.fileSearchScreenDiv {
  z-index: 2;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 25rem);
  grid-auto-rows: 20rem;
  gap: 1rem;
  justify-items: center;
  margin: 1rem 0 1rem 0;
  padding: 0 2rem 0 2rem;
  max-width: 100%;
  height: 100%;
}

/* FILE DISPLAYS STYLES*/

.fileDisplayDiv {
  position: relative;
  background-color: var(--main-bg-color);
  margin: 0.5rem;
  padding: 1rem;
  width: 23rem;
  height: 18rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.fileDisplayDiv:hover {
  background-color: var(--hover-bg-color);
  transform: scale(1.05);
}

.fileDisplayTopDiv {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding: 10px;
  height: 12rem;
}

.deleteButtonAndMatchedWordsDiv {
  flex: 1;
}

.fileDeleteButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.fileDeleteButton:hover {
  transform: scale(1.05);
}

.matchedWords {
  color: var(--secondary-font-color);
  font-size: var(--tertiary-font-size);
  font-style: italic;
  position: absolute;
  left: 11rem;
  bottom: 0;
}

.fileName {
  font-size: var(--primary-font-size);
  margin-left: 0.7rem;
}

.viewFileButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: var(--font-color);
  font-size: var(--primary-font-size);
  background-color: var(--main-bg-color);
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 0.5rem;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.fileDisplayDiv:hover .viewFileButton {
  opacity: 1;
}

.viewFileButton:hover {
  background-color: var(--hover-bg-color);
  font-size: 1.3rem;
}

.documentIcons {
  font-size: 12rem;
  color: var(--secondary-font-color);
}

.noFilesToDisplayText {
  align-items: center;
}
