.centerWrapperDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
}

.loginPageDiv {
  z-index: 999;
  background-color: var(--main-bg-color);
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: 10px;
  color: var(--font-color);
}

.loginFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.emailLoginDiv,
.passwordLoginDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.emailLoginInput,
.passwordLoginInput {
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  color: var(--font-color);
}

.loginButton,
.guestLoginButton {
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  border: none;
  background-color: var(--logo-2nd-color);
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
  max-width: 15rem;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.loginButton:hover,
.guestLoginButton:hover {
  background-color: var(--hover-bg-color);
  color: var(--font-color);
}

.notAMemberText {
  font-size: var(--secondary-font-size);
  text-align: center;
  margin-top: 1rem;
}

.signUpButton {
  background-color: transparent;
  border: none;
  color: var(--logo-2nd-color);
  cursor: pointer;
  font-weight: bold;
}

.signUpButton:hover {
  color: var(--hover-bg-color);
}

.errorText {
  color: red;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 1rem;
}
