.signUpFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 20rem;
}

.formRow {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formInput {
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  color: var(--font-color);
}

.createAccountButton {
  margin-bottom: 1rem;
  border-radius: 5px;
  cursor: pointer;
  height: 2.5rem;
  width: 100%;
  max-width: 15rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--logo-2nd-color);
  color: white;
  border: none;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.createAccountButton:hover {
  background-color: var(--hover-bg-color);
  transform: scale(1.03);
  color: var(--font-color);
}

.alreadyAMemberText {
  font-size: var(--secondary-font-size);
  text-align: center;
}

.goToLoginButton {
  background-color: transparent;
  border: none;
  color: rgb(7, 164, 249);
  cursor: pointer;
  font-weight: bold;
}

.goToLoginButton:hover {
  color: rgb(7, 193, 255);
}

.errorText {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}

.successText {
  color: green;
  font-size: 0.9rem;
  text-align: center;
}
