:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-bg-color: #302f2f;
  --secondary-bg-color: #242424;
  --font-color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  padding: 0;
}

.containerDiv {
  display: flex;
  color: var(--font-color);
}

/* FILE SEARCH SCREEN CSS */

.mainScreenDiv {
  background-color: var(--secondary-bg-color);
  height: 100vh;
  width: 100%;
  padding: 2rem;
}

/* SIDEBAR CSS */

.sidebarDiv {
  background-color: var(--main-bg-color);
  height: 100vh;
  padding: 2rem;
}
