:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-bg-color: #302f2f;
  --secondary-bg-color: #242424;

  --primary-font-size: 1.2rem;
  --secondary-font-size: 0.9rem;
  --tertiary-font-size: 1rem;
  --font-color: rgba(255, 255, 255, 0.87);
  --secondary-font-color: rgba(193, 190, 190, 0.87);

  --hover-bg-color: #1f1f1f;
  --logo-2nd-color: rgba(110, 107, 107, 0.87);
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.containerDiv {
  display: flex;
  height: 100vh;
  color: var(--font-color);
}

/* MAIN SCREEN CSS */

.mainScreenDiv {
  background-color: var(--secondary-bg-color);
  height: 100vh;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bgLogoDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.fileSearchScreenDiv {
  z-index: 2;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 25rem);
  grid-auto-rows: 20rem;
  gap: 1rem;
  justify-items: center;
  margin: 0;
  padding: 2rem;
  max-width: 100%;
  max-height: 100vh;
}

.individualFileScreenDiv {
  width: 100%;
}

/* FILE DiSPLAYS */

.fileDisplayDiv {
  position: relative;
  background-color: var(--main-bg-color);
  margin: 0.5rem;
  padding: 1rem;
  width: 23rem;
  height: 18rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

.fileDisplayDiv:hover {
  background-color: var(--hover-bg-color);
  transform: scale(1.05);
}

.fileDisplayTopDiv {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding: 10px;
  height: 12rem;
}

.deleteButtonAndMatchedWordsDiv {
  flex: 1;
}

.fileDeleteButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.fileDeleteButton:hover {
  transform: scale(1.05);
}

.matchedWords {
  color: var(--secondary-font-color);
  font-size: var (--tertiary-font-size);
  font-style: italic;
  position: absolute;
  left: 11rem;
  bottom: 0;
}

.fileName {
  font-size: var(--primary-font-size);
  margin-left: 0.7rem;
}

.viewFileButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  font-size: var(--primary-font-size);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 0.5rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.fileDisplayDiv:hover .viewFileButton {
  color: var(--font-color);
  background-color: rgba(0, 0, 0, 0.8);
}

.documentIcons {
  font-size: 12rem;
  color: var(--secondary-font-color);
}

.noFilesToDisplayText {
  align-items: center;
}

/* SIDEBAR CSS */

.sidebarDiv {
  position: relative;
  z-index: 1;
  background-color: var(--main-bg-color);
  height: 100vh;
  padding: 2rem;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
  font-size: var(--primary-font-size);
}

/* FILE INPUT SECTION */

.resetButton {
  background-color: var(--secondary-bg-color);
  border: none;
  border-radius: 0.4rem;
  color: var(--font-color);
  cursor: pointer;
  margin: 1rem 0 0.5rem auto;
  padding: 0.4rem;
  font-size: var(--tertiary-font-size);
}

.resetButton:hover {
  background-color: var(--hover-bg-color);
  transform: scale(1.05);
}

.fileInputDiv {
  background-color: transparent;
  cursor: pointer;
}

.fileInputDiv:hover {
  background-color: var(--hover-bg-color);
  transform: scale(1.05);
}

.fileInput {
  display: none;
}

.folderIcon {
  margin-right: 1rem;
}

.folderName {
  font-size: var(--secondary-font-size);
  font-style: italic;
  color: var(--secondary-font-color);
}

.resultsFound {
  font-size: var(--tertiary-font-size);
  color: var(--secondary-font-color);
  margin-top: 0;
}

/* SEARCH BAR SECTION */

.searchSectionDiv {
  width: 17rem;
  position: relative;
}

#searchBar {
  height: 1.3rem;
  width: 16rem;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  background-color: rgb(246, 246, 246);
  cursor: pointer;
  border-radius: 0.5rem;
}

#searchBar:hover {
  background-color: white;
}

.searchButton {
  background-color: transparent;
  border: none;
}

.searchIcon {
  font-size: 1.4rem;
  padding-left: 0.2rem;
  cursor: pointer;
  color: var(--font-color);
}

.searchIcon:hover {
  transform: scale(1.05);
  background-color: var(--hover-bg-color);
  border-radius: 1rem;
}

.predictiveTextWordsDiv {
  position: absolute;
  width: 15rem;
  z-index: 2;
  background-color: var(--font-color);
  color: var(--secondary-bg-color);
  padding: 1rem;
  cursor: pointer;
}

.predictiveTextWord:hover {
  transform: scale(1.01);
}

.assistedSearchButton {
  z-index: 1;
  position: relative;
  background-color: var(--secondary-bg-color);
  color: var(--font-color);
  font-size: var(--tertiary-font-size);
  margin: 1.1rem auto 1rem auto;
  padding: 0.4rem;
  border: none;
  border-radius: 0.5rem;
}

.assistedSearchButton:hover {
  transform: scale(1.05);
  background-color: var(--hover-bg-color);
}

.assistedSearchWordsDiv {
  background-color: var(--secondary-bg-color);
  padding: 0.2rem 1rem 0.4rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

.assistedSearchWord:hover {
  transform: scale(1.05);
}

.assistedSearchWord:nth-child(odd) {
  background-color: transparent;
}

.assistedSearchWord:nth-child(even) {
  background-color: var(--hover-bg-color);
}

.creatorNameDiv {
  position: absolute;
  bottom: 6rem;
  font-size: var(--secondary-font-size);
  color: var(--secondary-font-color);
}

/* INDIVIDUAL FILE SCREEN */

.fileDetailsDiv {
  display: flex;
  align-items: center;
}

.individualFileName {
  font-size: 2rem;
  margin: 1rem 0 0 0;
}

.fileDetail {
  font-size: var(--tertiary-font-size);
  margin-right: 2rem;
}

.tagsInputDiv {
  position: relative;
  display: flex;
  align-items: center;
}

.toggleTagView {
  background-color: transparent;
  border: none;
  margin-right: 0.4rem;
  cursor: pointer;
}

.toggleTagView:hover {
  transform: scale(1.2);
}

.tagDisplayArrow {
  color: var(--font-color);
  font-size: 1.2rem;
}

.addATagBar {
  width: 15rem;
  height: 1.5rem;
  padding: 0 1rem 0 1rem;
  margin-right: 1rem;
}

.addTagButton {
  background-color: transparent;
  border: none;
  color: var(--font-color);
  font-size: var(--tertiary-font-size);
}

.addTagButton:hover {
  transform: scale(1.2);
  background-color: var(--hover-bg-color);
  border-radius: 0.5rem;
}

.tagsList {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: var(--secondary-bg-color);
  z-index: 999;
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.tagDeleteButton {
  margin-right: 1rem;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: var(--font-color);
  cursor: pointer;
}

.tagDeleteButton:hover {
  transform: scale(1.3);
}

.tagsList div {
  padding: 8px;
  display: flex;
  align-items: center;
}

.tagsList div:hover {
  background-color: var(--hover-bg-color);
  transform: scale(1.01);
}

/* LOADING GEAR */

.loadingScreenDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  z-index: 20;
  color: rgb(171, 169, 169);
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingGear {
  font-size: 2rem;
  animation: spin 1s linear infinite;
}

.loadingText {
  margin-left: 1rem;
  font-size: 2rem;
  display: inline-flex;
  align-items: center;
}

.loadingDots {
  display: inline-block;
  width: 20px;
  text-align: left;
}

/* LOGO/BACKGROUND */

.bgLogoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chap {
  font-size: 3rem;
  color: var(--font-color);
}

.book {
  color: var(--logo-2nd-color);
}

.sideBarLogoDiv {
  display: flex;
  width: 18rem;
  justify-content: center;
  align-items: center;
}
